footer {
    @include main;
     height: 250px;


    h1 {
        @include h;
    }
  

    .email {
      padding: 5px; 
    }

    button {
      @include button;
    }

    link {
    @include link;
    }
}


@media (max-width: 768px ){
  footer {
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 30px 10px;
  }

  input, button {
    text-align: center;
    display: block;
    width: 96%;
    margin: 10px;
    margin-bottom: 10px;
    height: 45px;
    font-size: 20px;
  }

  img {
    width: 100%;
  }

}