section {
    
   @include section;

    .link {
        font-size: 3em;
        padding-bottom: 15px;
        color: $blue;
    }

}

// mobile

@media (max-width: 768px) {
    section {
        flex-direction: column;
        width: 400px
    }
}